@ @
import models.dto.ChangePw
@(form: Form[ChangePw])
    @main("ChangePassword") {
        <form method="post" action="/changepw">
            <div class="form-group">
                <label for="form-password">Old Password</label>
                <input name="passwordOld" type="password" class="form-control" id="form-password"></input>
            </div>
            <div class="form-group">
                <label for="form-password">Old Password</label>
                <input name="passwordNew" type="password" class="form-control" id="form-passwordNew"></input>
            </div>
            <div class="form-group">
                <label for="form-password">Old Password</label>
                <input name="passwordNewCheck" type="password" class="form-control" id="form-passwordNewCheck"></input>
            </div>
            @helper.CSRF.formField
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    }