@import models.entities.TwitterBountyCampaign
@(twitterBountyCampaigns: List[TwitterBountyCampaign])
@main("Dashboard") {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Dashboard</a>
            </li>
        </ol>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Tweet-ID</th>
                <th>Satoshi left</th>
                <th>Created</th>
                @if(session().get("isAdmin") != null && session().get("isAdmin") == "true") {
                    <th>User</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @for(twitterBountyCampaign <- twitterBountyCampaigns) {
            <tr>
                <td>@twitterBountyCampaign.getTweetId()</td>
                <td>@twitterBountyCampaign.getTotalSatoshiToSpend</td>
                <td>@twitterBountyCampaign.getCreatedFormatted()</td>
                @if(session().get("isAdmin") != null && session().get("isAdmin") == "true") {
                    <td>@twitterBountyCampaign.getUser().getUsername</td>
                }
                <td>
                    <a class="btn btn-primary" target="_blank" href="https://twitter.com/@twitterBountyCampaign.getTwitterScreenName()/status/@twitterBountyCampaign.getTweetId()">Show Tweet</a>
                    @if(/*session().get("isAdmin") != null && session().get("isAdmin") == "true" &&*/
                            session().get("username") != null && session().get("username") != twitterBountyCampaign.getUser.getUsername) {
                        <a class="btn btn-success disabled" href="/tweet/@twitterBountyCampaign.getId()">Edit</a>
                        <button data-action="delete" data-id="@twitterBountyCampaign.getId()" class="btn btn-danger" disabled>Delete</button>
                    } else {
                        <a class="btn btn-success" href="/tweet/@twitterBountyCampaign.getId()">Edit</a>
                        <button data-action="delete" data-id="@twitterBountyCampaign.getId()" class="btn btn-danger">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}