@()
@main("Dashboard") {


    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-4" align="center">
            <p></p>
            <form method="post" action="/business">
            <button type="submit" class="btn btn-info"><h1>Create new Likes</h1></button>
            </form>
        </div>
        <div class="col-md-1"> </div>
        <div class="col-md-4" align="center">
            <p> </p>
            <button type="submit" class="btn btn-warning"><h1>Like for Money</h1></button>
        </div>
    </div>


}