@import models.dto.Login
@(form: Form[Login])
    @main("Login") {
        <br>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" action="/authenticate">
                            <div class="form-group" align="center">
                                <label for="form-username"><h4>Username</h4></label>
                                <input name="username" type="text" class="form-control col-md-4" id="form-username">
                            </div>
                            <div class="form-group" align="center">
                                <label for="form-password"><h4>Password</h4></label>
                                <input name="password" type="password" class="form-control col-md-4" id="form-password"/>
                            </div>
                            @helper.CSRF.formField
                            <div class="form-group" align="center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    }