@import models.dto.RegisterDto
@(form: Form[RegisterDto])
@main("Sign Up") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/particle-js.css")">

        <div id="particles-js">
            <div class="container col-md-12 body-particles" id="boxes">
        @b4.horizontal.form(routes.HomeController.signUpPost(), "col-md-2", "col-md-8") { implicit hfc =>
            @b4.text(form("username"), '_label -> "Username", 'placeholder -> "satoshinakamoto", '_help -> "A username between 4 and 20 characters without any special character")
            @b4.text(form("twitterScreenName"), '_label -> "TwitterScreenName", 'placeholder -> "@proofofshare1", '_help -> "a valid TweeterScreenName with @")
            @b4.email(form("email"), '_label -> "Email", 'placeholder -> "satoshin@gmx.com", '_help -> "A valid Email-Address")
            @b4.email(form("repeatEmail"), '_label -> "Confirm Email", 'placeholder -> "satoshin@gmx.com", '_help -> "Confirm the Email-Address")
            @b4.password(form("password"), '_label -> "Password", 'placeholder -> "Password", '_help -> "A strong password with a minimum length of 6 and at least one uppercase letter, one lowercase letter, one number and one special character." )
            @b4.password(form("repeatPassword"), '_label -> "Confirm Password", 'placeholder -> "Confirm Password", '_help -> "Confirm your strong password")
            @helper.CSRF.formField
            @b4.submit('class -> "btn btn-primary") { Sign in }
        }
        </div>
        </div>


    <script src="@routes.Assets.versioned("dependencies/particles.js-2.0.0/particles.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
}